@import url("https://fonts.googleapis.com/css2?family=Overpass:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,700;1,700&display=swap");
/* 400,700 */

:root {
  --primary1: hsl(25, 97%, 53%); /* Orange */
  --neutral1: hsl(0, 0%, 100%); /* White*/
  --neutral2: hsl(217, 12%, 63%); /*Light Grey*/
  --neutral3: hsl(216, 12%, 54%); /* Medium Grey */
  --neutral4: hsl(213, 19%, 18%); /* Dark Blue  */
  --neutral5: hsl(216, 12%, 8%); /* Very Dark Blue */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Overpass", sans-serif;
  background-color: var(--neutral5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}